project:
  type: website
  preview:
    port: 3434
  render:
  - '*.qmd'
  - '!myresources/'
  - '!renv/'
  - '!files/'
  - "!assets/**" # i don't think we need stuff in this folder rendered, but not sure
  resources:
    - "assets/**"
    - '*.xlsx'
execute:
  freeze: auto
  cache: false
  echo: true
  keep-md: false
description-meta: Modern Applied Data Analysis (MADA) course
engine: knitr
format:
  html:
#    axe: #for accessibility check
#      output: document 
    theme:
      - yeti
      - assets/MADAstyle.scss
      - assets/unit-pages.scss #formatting for teaching units
    css: assets/exams2forms-webex.css #this comes from the exam2forms package
    include-after-body: assets/exams2forms-webex.js # from the exam2forms R package for quizzes    
    author:
    - name: Andreas Handel
    date-modified: last-modified
    date-format: iso
    toc: true
    toc_depth: 3
    toc_float:
      collapsed: false
    link-external-newwindow: true
    fig-align: center
    highlight-style: a11y
    grid:
      content-mode: full
      sidebar-width: 300px
      body-width: 900px
lightbox:
  desc-position: right
  match: auto
  effect: zoom
  loop: false
website:
  title: MADA Course
  description: Modern Applied Data Analysis (MADA) course
  site-url: https://andreashandel.github.io/MADAcourse/
  repo-url: https://github.com/andreashandel/MADAcourse/
  favicon: MADAlogo.png
  page-navigation: true
  navbar:
    pinned: true
    background: '#81AF8E'
    foreground: dark
    logo: MADAlogo.png
    left:
    - text: General Information
      file: courseinfo/course-overview.qmd
    - text: Content
      file: content/content-overview.qmd
    - text: Assessments
      file: courseinfo/assessments-overview.qmd
    - text: Project
      file: project/project-overview.qmd
    - text: Resources
      file: resources/resources-overview.qmd
    right:
    - icon: github
      file: https://github.com/andreashandel/MADAcourse
  sidebar:
  - title: General Information
    style: docked
    collapse-level: 1
    background: '#e3e2db'
    contents:
    - text: Course Overview
      file: courseinfo/course-overview.qmd
    - text: Syllabus
      file: courseinfo/course-syllabus.qmd
    - text: Schedule
      file: courseinfo/course-schedule.qmd
    - text: Communication
      file: courseinfo/course-communication.qmd
  - title: Content
    contents:
    - text: Content Overview
      file: content/content-overview.qmd
    - section: 1. Course and Tools Introduction
      contents:
      - text: Course Introduction
        file: content/module-intro-tools/introduction-course/introduction-course.qmd
      - text: Tools Introduction
        file: content/module-intro-tools/introduction-tools/introduction-tools.qmd
      - text: Reference Management
        file: content/module-intro-tools/tools-reference-management/tools-reference-management.qmd
    - section: 2. Data Analysis Introduction
      contents:
      - text: Motivating Examples
        file: content/module-data-analysis/data-analysis-motivation/data-analysis-motivation.qmd
      - text: Data Analysis Overview
        file: content/module-data-analysis/data-analysis-overview.qmd
    - section: 3. READy Workflows
      contents:
      - text: READy Workflows Overview
        file: content/module-ready-workflow/ready-overview.qmd
      - text: READy Introduction
        file: content/module-ready-workflow/ready-introduction/ready-introduction.qmd
      - text: Project Organization
        file: content/module-ready-workflow/ready-organization/ready-organization.qmd
      - text: Project Management
        file: content/module-ready-workflow/ready-project-management/ready-project-management.qmd
      - text: Software Management
        file: content/module-ready-workflow/ready-software-management/ready-software-management.qmd
      - text: Project Documentation
        file: content/module-ready-workflow/ready-documentation/ready-documentation.qmd
      - text: Tools for a READy workflow
        file: content/module-ready-workflow/ready-tools/ready-tools.qmd
      - text: Open Research
        file: content/module-ready-workflow/ready-open/ready-open.qmd
    - section: 4A. Data Introduction
      contents:
      - text: Data Overview
        file: content/module-data/data-overview.qmd
      - text: Basic Data Types
        file: content/module-data/data-types-basic/data-types-basic.qmd
      - text: Complex Data Types
        file: content/module-data/data-types-complex/data-types-complex.qmd
      - text: Data Storage Formats
        file: content//module-data/data-storage-formats/data-storage-formats.qmd
      - text: Data Formats in R
        file: content//module-data/data-formats-r/data-formats-r.qmd
      - text: Data Generation 
        file: content//module-data/data-generation-process/data-generation-process.qmd
    - section: 4B. Synthetic Data
      contents:
      - text: Synthetic Data Overview
        file: content/module-synthetic-data/synthetic-data-overview.qmd
      - text: Introduction and Motivation
        file: content/module-synthetic-data/synthetic-data-introduction/synthetic-data-introduction.qmd
      - text: Creating new Data
        file: content/module-synthetic-data/synthetic-data-new-r/synthetic-data-new-r.qmd
      - text: Creating new data based on existing data
        file: content/module-synthetic-data/synthetic-data-new-existing-r/synthetic-data-new-existing-r.qmd
      - text: Scrambling existing Data
        file: content/module-synthetic-data/synthetic-data-existing-r/synthetic-data-existing-r.qmd
      - text: R packages for data creation
        file: content/module-synthetic-data/synthetic-data-r-packages/synthetic-data-r-packages.qmd
      - text: Use synthetic data with AI tools
        file: content/module-synthetic-data/synthetic-data-ai-tools-r/synthetic-data-ai-tools-r.qmd
      - text: Use synthetic data to test models
        file: content/module-synthetic-data/synthetic-data-model-testing-r/synthetic-data-model-testing-r.qmd
    - section: 5. Data Processing
      contents:
      - text: Data Processing Overview
        file: content/module-data-processing/data-processing-overview.qmd
      - text: Data Processing Introduction
        file: content/module-data-processing/data-processing-introduction/data-processing-introduction.qmd
      - text: Data loading
        file: content/module-data-processing/data-loading/data-loading.qmd
      - text: Dealing with missing data
        file: content/module-data-processing/missing-data/missing-data.qmd
      - text: Dealing with outliers
        file: content/module-data-processing/outliers/outliers.qmd
      - text: Feature Engineering
        file: content/module-data-processing/feature-engineering/feature-engineering.qmd
      - text: Merging data
        file: content/module-data-processing//merging-data/merging-data.qmd
    - section: 6. Presenting Data and Results
      contents:
      - text: Presenting Results Overview
        file: content/module-data-presentation/presenting-results-overview.qmd
      - text: Visualization Overview
        file: content/module-data-presentation/visualization-introduction/visualization-introduction.qmd
      - text: Visualization in R
        file: content/module-data-presentation/visualization-in-r/visualization-in-r.qmd
      - text: Tables in R
        file: content/module-data-presentation/tables-in-r/tables-in-r.qmd
    - section: 7. Statistical Analysis Overview
      contents:
      - text: Statistical Analysis Introduction
        file: content/module-stats-overview/statistical-analysis-introduction/statistical-analysis-introduction.qmd
      - text: Some Statistical Model Fitting Terminology
        file: content/module-stats-overview/statistical-terminology/statistical-terminology.qmd
      - text: Descriptive and preliminary analysis
        file: content/module-stats-overview/descriptive-analysis/descriptive-analysis.qmd
    - section: 8. Model Fitting
      contents:
      - text: Model Fitting Overview
        file: content/model-fitting/model-fitting-overview.qmd
      - text: Model Fitting Introduction
        file: content/model-fitting/model-fitting-introduction/model-fitting-introduction.qmd
      - text: Fitting Basic Models
        file: content/model-fitting/basic-statistical-models/basic-statistical-models.qmd
      - text: Model performance metrics
        file: content/model-fitting/model-evaluation/model-evaluation.qmd
      - text: Fitting Models in R
        file: content/model-fitting/model-fitting-r/model-fitting-r.qmd
    - section: 9. Model Assessment
      contents:
      - text: Model Assessment Overview
        file: content/model-assessment/model-assessment-overview.qmd
      - text: Model Assessment Introduction
        file: content/model-assessment/model-assessment-introduction/model-assessment-introduction.qmd
      - text: Reality-based assessment
        file: content/model-assessment/reality-based-assessment/reality-based-assessment.qmd
      - text: Model performance revisited
        file: content/model-assessment/model-performance-revisited/model-performance-revisited.qmd
      - text: Model evaluation with cross-validation
        file: content/model-assessment/external-data-assessment/external-data-assessment.qmd
      - text: Model evaluation with Information Criteria
        file: content/model-assessment/information-criteria-assessment/information-criteria-assessment.qmd
      - text: Model diagnostics
        file: content/model-assessment/diagnostics-assessment/diagnostics-assessment.qmd
      - text: Model uncertainty
        file: content/model-assessment/uncertainty-assessment/uncertainty-assessment.qmd
    - section: 10. Model Improvement
      contents:
      - text: Model Improvement Overview
        file: content/model-improvement/model-improvement-overview.qmd
      - text: Model Improvement Introduction
        file: content/model-improvement/model-improvement-introduction/model-improvement-introduction.qmd
      - text: Subset Selection
        file: content/model-improvement/model-improvement-subset/model-improvement-subset.qmd
      - text: Regularization
        file: content/model-improvement/model-improvement-regularization/model-improvement-regularization.qmd
      - text: Model Tuning
        file: content/model-improvement/model-improvement-tuning/model-improvement-tuning.qmd
    - section: 11. Machine Learning Models I
      contents:
      - text: ML Models Overview
        file: content/module-model-ml-1/ml-models-overview.qmd
      - text: Polynomial and Spline Models
        file: content/module-model-ml-1/polynomial-spline-models/polynomial-spline-models.qmd
      - text: Decision Trees
        file: content/module-model-ml-1/decision-trees/decision-trees.qmd
      - text: Many-Tree Models
        file: content/module-model-ml-1/many-tree-models/many-tree-models.qmd
    - section: 12. Machine Learning Models II
      contents:
      - text: Support Vector Machine Models
        file: content/module-model-ml-2/svm-models/svm-models.qmd
      - text: Discriminant Analysis Models
        file: content/module-model-ml-2/da-models/da-models.qmd
      - text: Some More ML models
        file: content/module-model-ml-2/more-ml-models/more-ml-models.qmd
    - section: 13. Complete Analysis Workflow
      contents:
      - text: Complete Data Analysis Workflow
        file: content/module-workflow/complete-data-analysis-workflow/complete-data-analysis-workflow.qmd
  - title: Assessments
    contents:
    - text: Assessments Overview
      file: courseinfo/assessments-overview.qmd
    - text: 1. Course and Tools Introduction
      file: content/module-intro-tools/assessment-course-tools-introduction.qmd
    - text: 2. Data Analysis Introduction 
      file: content/module-data-analysis/assessment-data-analysis.qmd
    - text: 3. READy Workflow
      file: content/module-ready-workflow/assessment-ready-workflow.qmd
    - text: 4. Data Introduction & Synthetic Data
      file: content/module-data/assessment-data.qmd
    - text: 5. Processing Data
      file: content/module-data-processing/assessment-data-processing.qmd
    - text: 6. Presenting Data and Results
      file: content/module-data-presentation/assessment-presenting-results.qmd
    - text: 7. Statistical Analysis Overview
      file: content/module-stats-overview/assessment-statistical-analysis.qmd
    - text: 8. Model Fitting
      file: content/model-fitting/assessment-model-fitting.qmd
    - text: 9. Model Assessment
      file: content/model-assessment/assessment-model-assessment.qmd
    - text: 10. Model Improvement
      file: content/model-improvement/assessment-model-improvement.qmd
    - text: 11. Machine Learning Models I
      file: content/module-model-ml-1/assessment-ml-models-1.qmd
    - text: 12. Machine Learning Models II
      file: content/module-model-ml-2/assessment-ml-models-2.qmd
    - text: 13. Complete Analysis Workflow
      file: content/module-workflow/assessment-complete-workflow.qmd
  - title: Project
    contents:
    - text: Project Overview
      file: project/project-overview.qmd
    - text: Project Details
      file: project/project-details.qmd
    - text: Project Review
      file: project/project-review.qmd
    - text: Project Examples
      file: project/project-examples.qmd
  - title: Resources
    contents:
    - text: Resources Overview
      file: resources/resources-overview.qmd
    - text: Course Resources
      file: resources/resources-course.qmd
    - text: General Resources
      file: resources/resources-general.qmd
    - text: Data Resources
      file: resources/resources-data.qmd
    - text: Glossary
      file: resources/resources-glossary.qmd
