/*-- scss:defaults --*/

// Currently all of that is in the main scss file

/*-- scss:rules --*/

/* --------------------------------------*/
/* Start formatting for slides  ------*/
/* --------------------------------------*/

/* This formats text used for student action calls -------- */
.action
{
	color: black;
	background-color: #F6C5C7;
	border: 2px solid red;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 0px;
	padding-right: 5px;
	border-radius: 10px;
}

/* This formats text used for discussion boxes -------- */
.discuss
{
	color: black;
	background-color: #c5e0f6;
	border: 2px solid blue;
	padding-top: 2px;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-right: 5px;
	border-radius: 10px;
	margin-bottom: 5px;
}




/* Modify margin for level 1 (black title) slides */
.segue 
{
	padding-left: 50px; 
	padding-right: 50px;
}

.font90
{
	font-size: 90%;
}

.font80
{
	font-size: 80%;
}


#small
{
	font-size: 80%;
}

.small-font
{
	font-size: 90%;
}


#verysmall
{
	font-size: 50%;
}

/* Reduce font size for figure caption (class caption)------ */
.caption
{
	font-size: 60%;
}

/* --------------------------------------*/
/* End formatting for slides  ------*/
/* --------------------------------------*/